#grossebarre{
  background-color: #50AFC9;
}

#grossebarre a{
  color:white;
}

body{
  background-image: url(../image/bateau.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 200px 200px;
}

html{
  height:100%;
}
